{% comment %}
  When a comment is submitted, the browser is redirected to a page that includes 
  the new comment id in its URL.
  #comments is a required ID and is used as an anchor link by Shopify.
{% endcomment %}

{%- assign number_of_comments = article.comments_count -%}

{% comment %}
  If a comment was just submitted but requires moderation, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.status != 'published' %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

  <header role="banner" style="text-align: center;">
    <a href="{{ blog.url }}">View all Rudiment archive</a> <br><br><br>
  </header>

  {% if article.image %}
  <div class="grid">
    <div class="grid__item medium-up--ten-twelfths small--one-whole">
            {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img id="{{ img_id }}"
                class="lazyload"
                src="{{ article.image | img_url: '600x600' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 800, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ article.image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ article.image.alt | escape }}">
    </div>
  </div>
  {% endif %} 

<div class="grid">
  <div class="grid__item medium-up--seven-twelfths small--one-whole">
<article role="article" itemscope itemtype="http://schema.org/Article">

<header>
    <section>
    {% if article.tags.size > 0 %}
      <ul>
        {% for tag in article.tags %}
          <li> |
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
           |</li>
        {% endfor %}
      </ul>
    {% endif %}
    <br><br>
    </section>
    <h1>{{ article.title }}</h1>
    {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
    <p>{{ date }}</p>
  </header>

  <div class="rte" itemprop="articleBody">
    {{ article.content }}
  </div>


</article>
</div>
</div>