  {% comment %} <h1>{{ blog.title | link_to: blog.url }}</h1> {% endcomment %}
  
  {% if blog.all_tags.size > 0 %}
    <ul class="blog-nav small--hide">
      <li><a href="{{ blog.url }}">All</a></li>
      {% for tag in blog.all_tags %}

        {% if current_tags contains tag %}
          <li>| {{ tag }} |</li>
        {% else %}
          <li>{{ tag | link_to_tag: tag }}</li>
        {% endif %}

      {% endfor %}
    </ul>
  {% endif %} 

{% paginate blog.articles by 20 %}

  {%- assign blog_title = blog.title -%}

  {% if current_tags %}
    {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
  {% endif %}

  <div class="grid flex-center">
  <div class="grid__item medium-up--ten-twelfths small--one-whole">
    {% for article in blog.articles %}

      <div class="grid__item grid__sizer small--one-whole medium-up--padding-top-one small--padding-top-one">

        <a href="{{ article.url }}" class="block-wrapper"> 
        <div>
        {% if article.image %}
            {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img id="{{ img_id }}"
                class="lazyload"
                src="{{ article.image | img_url: '600x600' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 800, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ article.image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ article.image.alt | escape }}">

        {% endif %}
            <div class="overlay small--hide">
                <div class="overlay-content">
                    {{ 'blogs.article.read_more' | t }}
                </div>
            </div>
        </div>
        </a>

            <p>
              <a href="{{ article.url }}">{{ article.title }}</a>
            </p>
        </div>

    {% endfor %}
  </div>
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}

{% section 'masonry' %}