{% paginate search.results by 10 %}

  <h1>
    {% if search.performed %}
      {% if search.results_count == 0 %}
        {{ 'general.search.no_results_html' | t: terms: search.terms }}
      {% else %}
        {{ 'general.search.results_for_html' | t: terms: search.terms }}
      {% endif %}
    {% else %}
      {{ 'general.search.title' | t }}
    {% endif %}
  </h1>

{% assign placeholder = "Try searching something else" %}
{% assign width = "medium-up--five-twelfths" %}

<div class="grid flex-center" style="margin-bottom: 60px; padding: 0 30px">
  {% include 'search-form' %}
</div>

{% if search.performed %}
  <div class="grid endless-scroll" id="collection-grid">
      {% for item in search.results %}
      <div class="grid__item small--one-whole small--padding-top-default">

          {% assign img_url = item.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          {% if img_url != blank %}
            <a class="product-feature" href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
            <img id="{{ img_id }}"
                class="lazyload"
                src="{{ item.featured_image.src | img_url: '200x' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 800, 900, 1080, 1296, 1512]"
                data-aspectratio="{{ item.featured_image.src.aspect_ratio }}"
                data-sizes="auto"
                data-parent-fit="cover"
                data-optimumx="1.5"
                alt="{{ item.featured_image.src.alt | escape }}">
            </a>
          {% endif %}

          <div class="product-info-wrap">
          <p>
            {{ item.title | link_to: item.url }}
          </p>
          {% if item.object_type == 'product' %}
            <p class="right">
              {% if item.compare_at_price > item.price %}
                {% if item.price_varies %}
                  {% assign sale_price = item.price | money %}
                  {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                {% else %}
                  {{ 'products.product.on_sale' | t }}
                  <span itemprop="price">{{ item.price | money }}</span>
                {% endif %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s>{{ item.compare_at_price | money }}</s>
              {% else %}
                {% if item.price_varies %}
                  {% assign price = item.price | money %}
                  <span itemprop="price">{{ 'products.product.from_text_html' | t: price: price }}</span>
                {% else %}
                  <span itemprop="price">{{ item.price | money }}</span>
                {% endif %}
              {% endif %}
              {% unless item.available %}
              {{ 'products.product.sold_out' | t }}
              {% endunless %}
            </p>
          {% else %}
            <p class="right">{{ item.content | strip_html | truncatewords: 50 }}</p>
          {% endif %}
          </div>

        </div>
      {% endfor %}
  </div>

  <div class="endless-pagination">
    {% if paginate.next %}
      <a href="{{ paginate.next.url }}">Loading More</a>
    {% endif %}
  </div>
  {% endif %}

  {% include 'grid' %}
{% endpaginate %}
