<footer class="page-footer">
  {%- assign footer_linklist = section.settings.footer_linklist -%}
  {% if linklists[footer_linklist].links.size > 0 %}
    <ul class="links">
      {% for link in linklists[footer_linklist].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="newsletter">
    {% include 'newsletter' %}
  </div>
</footer>

{% if template == 'collection' %}
  {% include 'grid' %}
  {{ 'siema.js' | asset_url | script_tag }}
  {% include 'multiple-sliders' %}
{% endif %}

{% if template == 'index' %}
  {{ 'siema.js' | asset_url | script_tag }}
  {% include 'multiple-sliders' %}
{% endif %}

{% if template == 'product' %}
  {{ 'siema.js' | asset_url | script_tag }}
  {% include 'product-slider' %}
  {% include 'ajaxify-cart' %}
{% endif %}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      }
    ]
  }

{% endschema %}
