{% include 'geo' %}

<div class="cookie-notification" style="display:none;">
  By continuing to use this website, you accept cookies that we use to improve your experience on this site and to provide you with services and content tailored to your interests. To learn more please read our <a href="#">Privacy and Cookie Policy</a> <a class="close-link" href="#">OK</a>
</div>

<div class="navigation-overlay" id="navigation-overlay">
  <div class="navigation-full">
    <a class="navigation-toggle">
      {% include 'icon-close' %}
    </a>

    <ul class="content">
    {% for link in linklists.main-menu.links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
    </ul>

    <footer>
      <div class="grid one-whole flex">
        <ul class="grid__item medium-up--one-quarter small--one-whole small--padding-top-default content social">
          {% for link in linklists.sidebar-menu.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}                
        </ul>

        <ul class="grid__item medium-up--one-quarter small--one-whole small--padding-top-default content social">
        Choose location:
          {% for link in linklists.location-menu.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}     
        </ul>

        <ul class="grid__item medium-up--one-quarter small--one-whole small--padding-top-default content social">
          {% for link in linklists.footer.links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}     
        </ul>
        {% assign placeholder = "Search" %}
        {% assign width = "medium-up--one-quarter" %}
        {% include 'search-form' %}
   

        {% comment %} <div class="grid__item medium-up--one-quarter small--one-whole small--padding-top-default newsletter">
         {% include 'newsletter-header' %}
        </div> {% endcomment %}
      </div>
  </footer>
  </div>
</div>

<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}
</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header id="site-header" class="site-header" role="banner" style="width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    ">
    <div role="navigation" class="nav-link">
      <a class="navigation-toggle" href="#" data-toggle="body" style="display: flex;justify-content: flex-end;">
        {% include 'icon-hamburger' %}
      </a>
    </div> 

    {% if template.name == 'index' %}
      <div itemscope itemtype="http://schema.org/Organization">
    {% else %}
      <div class="h1" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
        <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
          {% if section.settings.logo != blank %}

            {% case template %}
            {% when 'blog' %}
            <div class="logo">
              <img src="{{ section.settings.logo2 | img_url: '600x600' }}"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
              </div>
            {% when 'article' %}
            <div class="logo">
              <img src="{{ section.settings.logo2 | img_url: '600x600' }}"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
              </div>
            {% else %}
            <div class="logo">
            <img src="{{'Rudi-logo.svg' | file_url }}"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
            </div>
            {% endcase %}
          {% else %}
            <h1>{{ shop.name }}</h1>
          {% endif %}
        </a>
    {% if template.name == 'index' %}
      </div>
    {% else %}
      </div>
    {% endif %}

   <div class="cart-button">
      <a class="cart-link" href="/cart">
        {% include 'icon-cart' %}
        {% if cart.item_count != 0 %}<div class="cart-full"></div>{% endif %}
      </a>
    </div> 
  </header>
</div>

<div class="sidebar" style="display: none;">
    <form action="/search" method="get" role="search">
      <label for="Search" class="label-hidden">
        {{ 'general.search.placeholder' | t }}
      </label>
      <input type="search"
             name="q"
             id="Search"
             value="{{ search.terms | escape }}"
             placeholder="{{ 'general.search.placeholder' | t }}">
      <button type="submit" class="btn">
        {% include 'icon-search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
    </form>

  </header>

  <nav role="navigation">
    <ul>
      {% for link in linklists[section.settings.main-menu].links %}
        {% if link.links != blank %}
          <li>
            <a href="{{ link.url }}">{{ link.title | escape }}</a>
            <ul>
              {% for childlink in link.links %}
                {% if childlink.links != blank %}
                  <li>
                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                    <ul>
                      {% for grandchildlink in childlink.links %}
                        <li>
                          <a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li>
                    <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li>
            <a href="{{ link.url }}">{{ link.title | escape }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>

</div>

<script>
  $( ".navigation-toggle" ).click(function (e) {
    e.preventDefault();
    $( ".navigation-overlay" ).slideToggle("slow");
  });

    $('.close-link').click(function(e){
      localStorage.setItem('accepted',true);
        $('.cookie-notification').hide();
    });

    var is_accepted = localStorage.getItem('accepted');

    if(is_accepted){
      console.log('localStorage')
      $('.cookie-notification').hide();
    }

    if(!is_accepted){
      console.log('no localStorage');
      $('.cookie-notification').show();
    }
</script>  

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "image_picker",
        "id": "logo2",
        "label": "Logo image Rudiment"
      },
      {
        "type": "image_picker",
        "id": "logo3",
        "label": "Logo image Landing"
      },
      {
        "type": "link_list",
        "id": "main-menu",
        "label": "Collection Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "sidebar-menu",
        "label": "Sitemap"
      },
      {
        "type": "link_list",
        "id": "location-menu",
        "label": "Location"
      },
      {
        "type": "link_list",
        "id": "footer",
        "label": "Social"
      }
    ]
  }
{% endschema %}
