
   <div class="small--hide"> 
    <div class="grid__item {{ section.settings.class }} small--padding-top-default">
    <a href="{{ section.settings.landing-link }}" class="block-wrapper">
        <div>
            {% assign img_url = section.settings.landing-image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img id="{{ img_id }}"
                class="lazyload"
                src="{{ section.settings.landing-image | img_url: '600x600' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 800, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ section.settings.landing-image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ section.settings.landing-image.alt | escape }}">

                <div class="overlay">
                    <div class="overlay-content">{{ section.settings.link-text | newline_to_br }}</div>
                </div>
        </div>
        </a>
    </div>
</div>

{% schema %}
  {
    "name": "Landing page item",
    "settings": [
      {
		"id": "landing-image",
		"type": "image_picker",
		"label": "Image"
      },
      {
		"id": "landing-link",
		"type": "url",
		"label": "Image link"
      },
      {
        "id": "link-text",
        "type": "textarea",
        "label": "Hover text"
      },
      {
		"id": "class",
		"type": "text",
		"label": "Grid class"
      }
	]
	,
	"presets": [
		{
		"name": "Landing block",
		"category": "Landing page item"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}