{% paginate collection.products by 7 %}
  <div class="grid endless-scroll" id="collection-grid">
    {% for product in collection.products %}
      {% assign productPosition = forloop.index %}
      <div class="grid__item small--one-whole small--padding-top-default">
        {% if product.featured_image != blank %}

          <a class="product-feature" href="{{ product.url | within: collection }}">
            {% assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img id="{{ img_id }}"
                class="lazyload"
                src="{{ product.featured_image.src | img_url: '200x' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 800, 900, 1080, 1296, 1512]"
                data-aspectratio="{{ product.featured_image.src.aspect_ratio }}"
                data-sizes="auto"
                data-parent-fit="cover"
                data-optimumx="1.5"
                alt="{{ product.featured_image.src.alt | escape }}">
          </a>
        {% endif %}

         <div class="product-info-wrap">
          <p>
            <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
          </p>
          <p class="right">
            {% if product.compare_at_price > product.price %}

              {% if product.price_varies %}
                {%- assign sale_price = product.price | money_with_currency -%}
                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
              {% else %}
                {{ 'products.product.on_sale' | t }}
                {{ product.price | money_with_currency }}
              {% endif %}

            {% else %}

              {% if product.price_varies %}
                {%- assign price = product.price | money_with_currency -%}
                {{ 'products.product.from_text_html' | t: price: price }}
              {% else %}
                {{ product.price | money_with_currency }}
              {% endif %}

            {% endif %}

            {% if product.compare_at_price > product.price %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <s>{{ product.compare_at_price | money_with_currency }}</s>
            {% endif %}

            {% unless product.available %}
              {{ 'products.product.sold_out' | t }}
            {% endunless %}
          </p>
      </div>
      </div>

      {% comment %}
        Display disturbers
        date: 23.07.18
        author Pascal Garber <pascal@jumplink.eu
      {% endcomment %}

      {% for disturbers in section.blocks %}
        {% if productPosition == disturbers.settings.position %}
          {% if disturbers.settings.collection == collection.handle %}

            {% if disturbers.type == 'disturber' %}
            {% comment %} If no url and no content / image is set use the collection image / content as header {% endcomment %}
            {% if collection.image %}
              {% assign image = collection.image %}
            {% endif %}

            {% comment %}
            Hide Content for now
            {% capture content %}
              <div class="title">{{ collection.title }}</div>
              <div class="text">{{ collection.description }}</div>
            {% endcapture %}
            {% endcomment %}

            {% comment %} If url links to blog article get image and content of them {% endcomment %}
            {% if disturbers.settings.url contains "/blogs/" %}
              {% assign articleHandle = disturbers.settings.url | remove_first: "/blogs/" %}
              {% assign article = articles[articleHandle] %}
              {% assign image = article.image %}
              {% capture content %}
                <div class="title">{{ article.title }}</div>
                <div class="text">
                  {{ article.excerpt_or_content }}
                </div>
              {% endcapture %}
            {% endif %}

            {% comment %} If url links to collection get image and content of them {% endcomment %}
            {% if disturbers.settings.url contains "/collections/" %}
              {% assign collectionHandle = disturbers.settings.url | remove_first: "/collections/" %}
              {% assign collection = collections[collectionHandle] %}

              {% capture content %}
                <div class="title">{{ collection.title }}</div>
                <div class="text">
                  {{ collection.description }}
                </div>
              {% endcapture %}

            {% endif %}

            {% comment %} If url links to product get image and content of them {% endcomment %}
            {% if disturbers.settings.url contains "/products/" %}
              {% assign productHandle = disturbers.settings.url | remove_first: "/products/" %}
              {% assign productdisturbers = all_products[productHandle] %}
              {% assign image = productdisturbers.featured_image %}
              {% assign content = productdisturbers.title %}

              {% capture content %}
                <div class="title">{{ productdisturbers.title }}</div>
                <div class="text"></div>
              {% endcapture %}

            {% endif %}

            {% comment %} If url links to page get title of them {% endcomment %}
            {% if disturbers.settings.url contains "/pages/" %}
              {% assign pagesHandle = disturbers.settings.url | remove_first: "/pages/" %}
              {% assign page = pages[pagesHandle] %}

              {% capture content %}
                <div class="title">{{ page.title }}</div>
                <div class="text"></div>
              {% endcapture %}

            {% endif %}

            {% comment %} Overwrite image if custom image is set {% endcomment %}
            {% if disturbers.settings.image != blank %}
              {% assign image = disturbers.settings.image %}
              {% assign image2 = disturbers.settings.image2 %}
              {% assign image3 = disturbers.settings.image3 %}
              {% assign image4 = disturbers.settings.image4 %}
              {% assign image5 = disturbers.settings.image5 %}
              {% assign image6 = disturbers.settings.image6 %}
              {% assign image7 = disturbers.settings.image7 %}
              {% assign image8 = disturbers.settings.image8 %}
              {% assign image9 = disturbers.settings.image9 %}
              {% assign image9 = disturbers.settings.image10 %}
            {% endif %}

              
          

            {% comment %} Overwrite content if custom content is set {% endcomment %}
            
            {% if disturbers.settings.content != blank %}
              {% assign content = disturbers.settings.content %}
            {% endif %}
            {% if paginate.current_page == 1 %}
            <div class="grid__item {{ disturbers.settings.class }} small--one-whole small--padding-top-default product-disturber">
              <div class="siema">
              
                <div class="product-img">{{ image.src | img_url: '' | img_tag: image.alt, 'image-siema' }}</div>
                <div class="product-img">{{ image2.src | img_url: '' | img_tag: image.alt, 'image-siema' }}</div>
                {% if image3 != blank %}
                  <div class="product-img">{{ image3.src | img_url: '' | img_tag: image.alt, 'image-siema' }}</div>
                {% endif %}
                {% if image4 != blank %}
                  {{ image4.src | img_url: '' | img_tag: image.alt, 'image-siema' }}
                {% endif %}
                {% if image5 != blank %}
                  {{ image5.src | img_url: '' | img_tag: image.alt, 'image-siema' }}
                {% endif %}
                {% if image6 != blank %}
                  {{ image6.src | img_url: '' | img_tag: image.alt, 'image-siema' }}
                {% endif %}
                {% if image7 != blank %}
                  {{ image7.src | img_url: '' | img_tag: image.alt, 'image-siema' }}
                {% endif %}
                {% if image8 != blank %}
                  {{ image8.src | img_url: '' | img_tag: image.alt, 'image-siema' }}
                {% endif %}
                {% if image9 != blank %}
                  {{ image9.src | img_url: '' | img_tag: image.alt, 'image-siema' }}
                {% endif %}
                {% if image10 != blank %}
                  {{ image10.src | img_url: '' | img_tag: image.alt, 'image-siema' }}
                {% endif %}
              </div>
          </div> 
          {% endif %}

         
          {% endif %}

          {% endif %}
        {% endif %}
      {% endfor %}

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
      <div class="collection-empty">
        <p>{{ 'collections.general.no_matches' | t }}</p>
      </div>
      {% else %}
      <div class="collection-empty">
        <p>{{ 'collections.general.no_matches' | t }}</p>
      </div>
      {% endif %}

    {% endfor %}
  </div>
  <div class="endless-pagination">
    {% if paginate.next %}
      <a href="{{ paginate.next.url }}">Loading More</a>
    {% endif %}
  </div>
{% endpaginate %}


{% schema %}
  {
    "name": "Product list content",
    "settings": [

    ],
    "blocks": [
      {
        "type": "disturber",
        "name": "Content pocket",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Content image"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Content image"
          },
          {
            "type": "image_picker",
            "id": "image3",
            "label": "Content image"
          },
          {
            "type": "image_picker",
            "id": "image4",
            "label": "Content image"
          },
          {
            "type": "image_picker",
            "id": "image5",
            "label": "Content image"
          },
          {
            "type": "image_picker",
            "id": "image6",
            "label": "Content image"
          },
          {
            "type": "image_picker",
            "id": "image7",
            "label": "Content image"
          },
          {
            "type": "image_picker",
            "id": "image8",
            "label": "Content image"
          },
          {
            "type": "image_picker",
            "id": "image9",
            "label": "Content image"
          },
          {
            "type": "image_picker",
            "id": "image10",
            "label": "Content image"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "id": "collection",
            "type": "collection",
            "label": "Collection",
            "info": "Select the collection in which the content should be displayed"
          },
          {
            "id": "url",
            "type": "url",
            "label": "Url",
            "info": "Where the content should link to"
          },
          {
            "type":   "range",
            "id":     "position",
            "min":       0,
            "max":       100,
            "step":      1,
            "unit":      "Pos",
            "label":     "Display after",
            "default":   4
          }
        ]
      }
    ]
  }
{% endschema %}


