{% include 'size-guide-popup' %}
{% include 'delivery-info-popup' %}

<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="grid product-page clearfix">
    <div class="grid__item medium-up--one-half small--one-whole">
      {% if product.images.size > 1 %}
          <div class="product-images-wrapper">
            <div class="product-images siema">
                {% for image in product.images %}
                    <div class="product-img">
                      {% assign img_url = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                        <img id="{{ img_id }}"
                            class="lazyload"
                            src="{{ image.src | img_url: '200x' }}"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 800, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="{{ image.src.aspect_ratio }}"
                            data-sizes="auto"
                            data-parent-fit="cover"
                            data-optimumx="1.5"
                            alt="{{ image.src.alt | escape }}">
                    </div>
                {% endfor %}
            </div>
          </div>
      {% else %}
            <div class="product-images-wrapper">
            <div class="product-images siema">
            <div class="product-img">
            {% assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img id="{{ img_id }}"
                class="lazyload"
                src="{{ product.featured_image.src | img_url: '200x' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 800, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ product.featured_image.src.aspect_ratio }}"
                data-sizes="auto"
                data-parent-fit="cover"
                data-optimumx="1.5"
                alt="{{ product.featured_image.src.alt | escape }}">
            </div>
            </div>
            </div>
      {% endif %} 
    </div>



    <div class="grid__item product-description medium-up--three-twelfths small--one-whole medium-up--push-one-twelfth medium-up--padding-top-three">
      <h1>{{ product.title }}</h1>
      <div data-price-wrapper>
        <span data-product-price>
          {{ current_variant.price | money_with_currency }}
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money_with_currency }}
            {% endif %}
          </s>
        {% endif %}
      </div>

      <div class="grid">
        <div class="grid__item medium-up--padding-top-three small--padding-top-two">
           {{ product.description }}
        </div>
      </div>

      <div class="grid">
        <div class="grid__item medium-up--padding-top-one small--padding-top-two">
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

            <form action="/cart/add" method="post" enctype="multipart/form-data">
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="product-single-option selector-wrapper js">
                <label class="product-single-option-label" for="SingleOptionSelector-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>

                <select
                  id="SingleOptionSelector-{{ forloop.index0 }}"
                  data-single-option-selector
                  data-index="option{{ option.position }}" class="single-option-selector">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          {% endunless %}

          <div class="hidden">
          <select name="id" class="no-js" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>
          </div>

          <div class="hidden">
            <label for="Quantity" class="product-quantity-label">{{ 'products.product.quantity' | t }}</label>
            <input type="number" class="product-quantity-input" id="Quantity" name="quantity" value="1" min="1">
          </div>

            <div class="grid">
              <div class="grid__item medium-up--padding-top-one">
                <button
                  type="submit"
                  name="add"
                  data-add-to-cart
                  {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                    <span data-add-to-cart-text>
                      {% if current_variant.available %}
                        {{ 'products.product.add_to_cart' | t }}
                      {% else %}
                        {{ 'products.product.sold_out' | t }}
                      {% endif %}
                    </span>
                </button>
                <button class="notify-me-button" id="BIS_trigger" {% if product.available %} style="display: none" {% endif %}>Email me when available</button>
              </div>
            </div>

            </form>
          </div>
       </div>
      </div>
        <div class="information">
          {% include 'icon-size-guide' %} <a class="toggle-delivery">Delivery info</a><br>
          {% include 'icon-size-guide' %} <a class="toggle-size">Sizeguide</a>
        </div> 
    </div>


    {% unless product == empty %}
      <script type="application/json" data-product-json>
        {{ product | json }}
      </script>
    {% endunless %}
  </div><!-- grid__item -->
</div><!-- grid -->

{% javascript %}
  // Sizeguide

  $( ".toggle-size" ).click(function() {
    $( ".toggle-content-size" ).fadeToggle("slow");
  });
  $( ".toggle-delivery" ).click(function() {
    $( ".toggle-content-delivery" ).fadeToggle("slow");
  });


{% endjavascript %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}